@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-items: center;
    background-color: gray;
    height: 70px;
    font-family: 'Tilt Warp', cursive;
}

#list {
    display: flex;
}

#logo{
    margin-left: 20px;
}
#logo h1{
    color: white;
    font-size: 25px;
}
#logo h1:hover{
    color: red;
    cursor: pointer;
}

.list ul{
    display: flex;
    list-style-type: none;
}
.list ul li {
    margin-top: 10px;
    padding: 10px;
}
.list ul li a{
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.list ul li a:hover{
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s;
    background-color: white;
    color: black;
}


/* .list ul li a.active{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
} */
.icon{
    display: none;
}   


.container img{
    
    width: 100%;
}

.container-box{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}


.logo{
  
    width: 300px;
    height: 300px;
    /* background-color: lightblue; */
    margin: auto;
    border-radius: 10px;
}
    /* .logo:hover{
        zoom: 1%;
    } */
.logo h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.logo h1:hover{
    padding: 10px;
    transition: all 0.3s;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.logo img {
    margin: 15px;
    width: 90%;

    padding: 46px;
    /* background-color: red; */
    transition: transform .3s;
    /* width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 29px; */
}

.logo img:hover{
    -ms-transform: scale(4.6);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

#content h2{
    font-family: 'Tilt Warp', cursive;
    /* font-weight: 100px; */
    /* margin: 20px; */
    /* padding: 10px; */
    font-size: 20px;
    text-align: center; 
}


.text-box{
    display: flex;
    align-items: center;
    width: 70%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


#question h1{
    text-align: center;
}

/* //.flutter */
.card {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
}
.card .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    /* margin-left: 54px;
    margin-top: 10px; */
    width:50%;
    margin-right: 50px;
    /* object-fit: cover; */
}

.card .card-text{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card .card-text h1{
    font-size: 30px;
    font-weight: 500;

}
.card .card-text p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card .card-text .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card:hover .card-text{
    right: 0;
    cursor: pointer;

}

/* java */
.card-java {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-java .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-java img{
    /* margin-left: 54px; */
    margin-top: 30px;
    width:100%;
    object-fit: cover;
}
.card-java .card-text-java{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-java .card-text-java h1{
    font-size: 30px;
    font-weight: 500;

}
.card-java .card-text-java p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-java .card-text-java .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-java:hover .card-text-java{
    right: 0;
    cursor: pointer;

}


/* c .c-programming */
.card-c {
    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-c .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-c img{
    /* margin-left: 54px; */
    
    width:60%;
    object-fit: cover;
}
.card-c .card-text-c{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-c .card-text-c h1{
    font-size: 20px;
    font-weight: 500;

}
.card-c .card-text-c p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 10px 0;
}
.card-c .card-text-c .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-c:hover .card-text-c{
    right: 0;
    cursor: pointer;

}


/* c++ programming */
.card-cpp {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-cpp .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-cpp img{
    /* margin-left: 54px; */
    width:50%;
    object-fit: cover;
}
.card-cpp .card-text-cpp{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-cpp .card-text-cpp h1{
    font-size: 30px;
    font-weight: 500;

}
.card-cpp .card-text-cpp p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-cpp .card-text-cpp .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-cpp:hover .card-text-cpp{
    right: 0;
    cursor: pointer;

}

/* html */

.card-html {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-html .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-html img{
    /* margin-left: 54px; */
    width:50%;
    object-fit: cover;
}
.card-html .card-text-html{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-html .card-text-html h1{
    font-size: 30px;
    font-weight: 500;

}
.card-html .card-text-html p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-html .card-text-html .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-html:hover .card-text-html{
    right: 0;
    cursor: pointer;

}
/* css */
.card-css {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-css .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-css img{
    /* margin-left: 54px; */
    width:80%;
    object-fit: cover;
}
.card-css .card-text-css{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-css .card-text-css h1{
    font-size: 30px;
    font-weight: 500;

}
.card-css .card-text-css p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-css .card-text-css .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-css:hover .card-text-css{
    right: 0;
    cursor: pointer;

}

/* react js */
.card-react {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-react .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-react img{
    /* margin-left: 54px; */
    width:70%;
    object-fit: cover;
}
.card-react .card-text-react{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-react .card-text-react h1{
    font-size: 30px;
    font-weight: 500;

}
.card-react .card-text-react p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-react .card-text-react .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-react:hover .card-text-react{
    right: 0;
    cursor: pointer;

}

/* node js */

.card-node {

    height: 400px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 20px;
    position: relative;

}
.card-node .card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-node img{
    /* margin-left: 54px; */
    width:60%;
    object-fit: cover;
}
.card-node .card-text-node{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #03055a59;
    backdrop-filter: blur(5px);
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 2s;
}
.card-node .card-text-node h1{
    font-size: 30px;
    font-weight: 500;

}
.card-node .card-text-node p{
    line-height: 40px 0;
    text-transform: capitalize;
    font-weight: 300;
    margin: 40px 0;
}
.card-node .card-text-node .btn
{
    width: 100%;
    background-color: #CED4DA;
}

.card-node:hover .card-text-node{
    right: 0;
    cursor: pointer;

}

footer{
    margin-top: 20vh;
    position: relative;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .list_item_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .list_item_icon li,
footer .menu li{
    list-style-type: none;
}
footer .list_item_icon li a{
    font-size: 1.2em;
    color: white;
    display: inline-block;
    transition: 0.5s;
    padding: 10px;
    margin: 0 20px;

}
footer .menu li a{
    padding: 10px;
    margin: 0px 20px;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}
footer .list_item_icon li a:hover,
footer .menu li a:hover{
    transform: translate3d(-10px);
    background-color: white;
    color: black;
    border-radius: 2px;
    transition: all 0.5s;
}

footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: white;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}


footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    background: url(./image/wave.png);
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animationWave 5s linear infinite; 
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animationWave_02 5s linear infinite; 
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animationWave 4s linear infinite; 
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animationWave_02 4s linear infinite; 
}
@keyframes animationWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animationWave_02{
    0%
    {
        background: position x 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}




@media screen and (max-width: 1342px) {
    .container-box{
        grid-template-columns: repeat(2,1fr);
    }
    
}
/* tablat */
@media screen and (max-width : 1023px){

    .container-box{
        margin: 20px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 948px) {
    .container-box{
        grid-template-columns: repeat(1,1fr);
    }

    .flutter img{
        width: 30%;
        margin: 10px 270px;
    }
    .java img{
        width: 60%;
        margin: 10px 160px;
    }
    .c-programming img{
        margin: 10px 290px;
    }
    .c-plus img{
        margin: 10px 320px;
    }
    .html img{
        margin: 10px 280px;
    }
    .css img{
        margin: 10px 170px;
    }
    .node img{
        width: 40%;
        margin: 10px 250px;
    }
    .react img{
        width: 40%;
        margin: 10px 250px;
    }
}

@media screen and (max-width: 767px) {
    .container-box{
        margin: 30px;
        grid-template-columns: repeat(1,1fr);
    }
    .icon{
        display: block;
        margin-right: 20px;
    }
    .icon i{
        color: white;
        font-size: 30px;

    }
/* 
    .list{
        height: 0;
        position:absolute;
        top: 30px;
        right: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        transition: 0.3s;
        overflow: hidden;
    }
    .list ul {
        margin-top: 50px;
        transition: 0.2s;
        display: block;
        text-align: center;
        opacity: 1;
    }
    .list ul li a{
        margin-bottom: 20px;
    }
    .list.active {
        transition: all 0.3s ease-in-out;
         height: 300px;
    } */

    #logo h1{
        font-size: 30px;
    }

    #content h2{
        margin-top: 100px;
        font-size: 20px;
    }
    .list-footer ul li a:hover{
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 4px;
        transition: all 0.3s;

    }

    .list-footer ul li h3{
        font-size: 25px;
        width: 100%;
    }
    .list-footer ul li h3:hover{
        color: red;
        cursor: pointer;
    }



}



/* animation */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

