*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDF2F4;
}
.contaner{
    width: 200vh;
    height: 500px;
    background-color: white;
}
.contaner h1{
    font-size: 20px;
    font-weight: 500;
    color: aqua;
}