@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#list {
    display: flex;
}

#logo{
    margin-left: 20px;
}
#logo img{
    margin: 10px;
    width: 10%;
}
.dropdown{
    margin-right: 20px;
}
.btn{
    background-color: antiquewhite;
    border: none;
    color: black;
    /* padding: 20px; */
    font-family: 'Tilt Warp', cursive;
    font-size: 20px;
}

.btn:hover{
    background-color: antiquewhite;
}
.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-menu li a{
    color: black;
}
.dropdown-menu li a:hover{
    background-color: gray;
}
.dropdown-menu li .active{
    color: black;
}



.container{
    margin-top: 20px;
    background-color: royalblue;
    background-image: url('/image/header.gif');
    height: 100vh;
    background-size: cover;
}
.container h1{
    padding-top: 50vh;

    text-align: center;
    color: white;

}


#content h2{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}


.text-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 30px;
    
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.text-box p{
   text-indent: 50px;
}

#question h1{
    text-align: center;
}


.flutter {
    align-items: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.flutter .text-flutter{
    width: 500px;
}
.flutter .text-flutter p{
    text-indent: 30px;
}
.flutter img{
    width: 50%;
}

.java {
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;

}
.java img{
    width: 80%;
}
.java .text-java p{
    text-indent: 30px;
}




.c-programming{
    margin: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.c-programming .text-c p{
    width: 600px;
    text-indent: 30px;

}
.c-programming img{
    width: 50%;
}



.c-plus{
    margin: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;

}
.c-plus img{
    width: 25%;
}

.c-plus .text-cplus p{
    text-indent: 30px;
}

.html{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.text-html{
    width: 500px    ;
}
.text-html p{
    text-indent: 30px;
}





.css {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.css .text-css p{
    text-indent: 30px;

}
.css img{
    width: 45%;
}




.node{
    margin: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.node img{

    margin: 30px;
    padding: 50px;
    width: 50%;
}

.text-node p{
    width: 500px;
    text-indent: 30px;
}

.react{
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.react img{
    width: 50%;
}
.text-react p{
    text-indent: 30px;
    width: 500px;
}



footer{
    background-color: rgb(221, 221, 221);
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content:space-evenly;
    height: 250px;
}
footer img{
    width: 20%;
}
.list-footer ul{
    list-style-type: none;
}

.list-footer ul li {
    padding: 10px;
}

.list-footer ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;

}


.yt{
    margin-left: 20px;
}