@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@700&family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;

}
.logo-nav{
    font-size: 25px;
}
nav .logo-nav{
    display: none;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li a{
    color: black;
    display: block;
    margin: 0 20px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.2s;
    text-decoration: none;
}


nav ul li a:hover{
    background-color: rgb(226, 226, 226);
}
nav ul li a.active{
    background-color: blue;
    color: white;
}
.humburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.humburger:hover{
    background-color: white;
}
.humburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: black;
}
@media only screen and (max-width: 1100px) {
    header{
        padding: 0 20px;
    }
    nav{
        width: 100%;
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: white;
        transition: 0.3s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);

    }
    #nav-check:checked ~ nav{
        left: 0;
    }
    nav .logo-nav{
       
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .humburger{
        display: block;
    }
}
.container{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    grid-template: 
    "description logo";
    display: flex;
    
}
.description{
    background-color: rgb(243, 242, 242);
    margin-left: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    grid-area: description;
    width: 50vw;
    display: flex;
    display: inline-block;
    border-radius: 10px;
}
.description h1{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-align: center;
}
.description p{
    text-align: justify;
    /* margin-top: 10px; */
    padding: 3%;
    font-size: 1.3em;
}
.line{
    margin: auto;
    width: 100px;
    height: 5px;
    background-color: #440F9A;
}
.logo{
    grid-area: logo;
    width: 50vw;
    display: flex;
}
.logo img{
    width: 50%;
    margin: auto;
}
.footer{
    margin-top: 57px;
    background-color: aqua; 
    /* width: 100vw; */
    height: 10vh;   
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "p"
    "img";
}
.footer p{
    background-color: bisque;
    grid-area: p;
}
.footer .img{
    margin: auto;
    grid-area: img;
}
.footer .img img{
    background-color: black;
    width: 3%;
}
